
.indcnt {
    margin-top: 60px;
}

.jdfjs {
    font-size: 56px;
    margin-left: 64px;
    margin-top: 19px;
    font-weight: 900;
    font-family: monospace;
}

.hdsk {
    background: #00ffae;
    width: 685px;
    font-size: 39px;
    margin-left: 59px;
    margin-top: 21px;
    padding: 13px;
    font-family: monospace;
}

.gagsd {}

button.btn.ksdpw {
    float: left;
    margin-left: 14px;
    background: #00ffae;
}

.ska {
    margin-left: 46px;
    margin-top: 38px;
}

.gagsd {
}

button.btn.ksdpw.ksk {
    background: #cac8c8;
}