body{
    margin: 0;
}
.btn {
    width: 233px;
    background: #b3b1b1f7;
    display: inline-block;
    border-color: transparent;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    height: 42px;
    cursor: pointer;
    font-weight: 900;
    /*margin-left: 45%;
    margin-top: 32%;*/
    }
input {
    outline: none;
}

nav.nav-bar {
    position: fixed;
    width: 100%;
    background: white;
    height: 50px;
    box-shadow: 0 0 3px #524d4d;
    z-index: 1;
}

.logo {
    font-size: 25px;
    position: absolute;
    top: 5px;
    left: 31px;
    font-family: sans-serif;
    font-weight: 900;
}
a {
    color: #000;
    text-decoration: none;
}

.btn:hover {
    background: #fff!important;
    border: 1px solid;
}

.nsla {
    width: fit-content;
    position: absolute;
    left: 482px;
    top: 8px;
    font-size: 22px;
    font-weight: 900;
    font-family: sans-serif;
}

.nksd {
    position: absolute;
    right: 81px;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 900;
    top: 7px;
}

a:hover {
    color: blue;
}

.nsla.dlsd {
    margin-left: 181px;
}

ul.sjvad {
    background: white;
    width: fit-content;
    position: absolute;
    left: 364px;
    margin-top: 28px;
}